/* General -> todo: refactor into windicss configuration */
p, ul {
  font-family: 'Open Sans';
  color: #fff;
}

button:focus {
  outline: none;
}

/* Slide */
.slidev-layout {
  background-color: #56ac8a;
  font-family: bangers;

  h1 {
    color: #fff;
  }

  p {
    line-height: 1.7rem;
  }

  a, a:hover {
    border-color: transparent;
  }
}

.dark .slidev-layout {
  background-color: #1b1b1b;
}

.col-right {
  display: flex;
  flex-direction: column-reverse;
}

.turn-me {
  display: none;
}

@media only screen and (max-device-width: 640px) and (orientation: portrait) {
  .turn-me {
    position: absolute;
    right: 2rem;
    top: 4rem;
    display: block;
    font-size: 5rem;
    color: #fff;
  }
}

.is-touch {
  display: none;
}

.not-touch {
  display: block;
}

@media (pointer:coarse) {
  .is-touch {
    display: inline-block;
  }

  .not-touch {
    display: none;
  }
}